#main {
    margin-top: 54px;
    display: flex;
    min-height: 100vh;
    border-top: 1px solid #000;
    background-color: #000;
    .search {
      width: 24%;
      margin-bottom: 1%;
    }
    #aside {
        width: 300px;
        background-color: #000;
        color: #fff;
        border-right: 1px solid #393939;
        padding: 20px;

        button {
            text-align: left;
            width: 260px;
            height: 40px;
            margin-top: 20px;
            font-size: 20px;
            color: #d1d1d1;
            border-radius: 40px;
            cursor: pointer;

            span {
                margin-left: 10px;
            }
            &:hover {
                background-color: red;
                color: #fff;
            }
        }

    }

    #contents {
        width: calc(100% - 300px);
        background-color: #000;
        padding: 24px;
        color: #fff;

        h2 {
          font-weight: bold;
          padding-bottom: 20px;
        }
        
        .videos__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
      
            > div {
              width: 24%;
              margin-bottom: 1%;

              h3 {
                margin-top: 10px
              }
            }
          }
    }
}
.videoConts {
  padding-top: 7%;
  padding-left: 10%;
}
.video__sub {
  display: flex;
  justify-content: space-between;

  .left {
    width: calc(100% - 330px);

    .play{
      width: 100%;
      background-color: #aaa;
      position: relative;
      padding-bottom: 24.65%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .desc {
      padding: 20px 0;
      h3 {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #fff;
        padding: 10px;
      }
      .channel {

        >div {
          padding: 20px 0;
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          background-color: #b1b1b1;
          border-radius: 10px;
          a {
            color: #000;
            font-size: 20px;
            margin-left: 20px;
            font-weight: bold;
          }
          span {
            font-size: 17px;
            margin-right: 20px;
            color: #fff;
          }
        }
        .description {
          background-color: #dedede;
          white-space: pre-line;
          text-align: justify;

          p {
            text-align: left;
            padding: 30px;
            line-height: 1.6;
          }
        }
      }
    }
  }
  .right {
    width: 300px;
    height: 600px;
    background-color: #c1c1c1;
  }
}

@media (max-width: 800px) {
    #contents {
        margin-top: 20px;
        width: 300px;
        h2 {
          // position: absolute;
          width: 200px;
        }
        .videos__inner {
            flex-direction: column;
            > div {
                // width: 400px;
                margin-bottom: 1%;
                // background-color: #333;

                img {
                    width: 400px;
                    margin-bottom: 1%;
                  }
                  h3 {
                    width: 400px;
                }
                
              }
            
          }
    }
}